
<!doctype html>
<html lang="en">
<head>
	<link href="static/style.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Suez+One&display=swap" rel="stylesheet">
	<title>{% block title %}{% endblock %}</title>
	<meta name="Description" content="Author: A Vautier, Content: A dictionary to convert maori words to english.">
</head>

<body>
	<div id="container">

		<header>
			<h1>{% block heading %}{% endblock %}</h1>
		</header>

		<nav>
			{%if user%}
			{{user[0]}}<br>
			<a href="/login">logout</a><br>
			{%else%}
			<a href="/login">login</a><br>
			{%endif%}
            <input type="checkbox" name="drop_down_menu" />
            {%for category in categories%}
			<a href="/cat/{{category[0]}}">{{category[1]}}</a>{%if user[2]%} - <a href="/edit/update/cat/{{category[0]}}">edit</a> <a href="/edit/delete/cat/{{category[0]}}">delete</a> {%endif%}
			<br>
			{%endfor%}
			{%if user[2]%}
			<a href="/edit/add/cat/0">add a category</a>
			{%endif%}
			<span></span>
			<ul>    
                <li><a href="\">Home</a></li>
			</ul>
		</nav>


		<!--
		=====================================================
		== Content row of the template.                 ==
		=====================================================
		-->

		<main>
            {% block main%}
			
			{% endblock main %}
        </main>


		<footer>
			<p>
				&copy; AlexV 2020
			</p>
		</footer>
        <script>
				const confirmElements = document.querySelectorAll("[data-deleter]")
				confirmElements.forEach((el) => el.addEventListener("click", confirmDelete(el.getAttribute("data-deleter"))))
				function confirmDelete(message) {
					return function (event) {
					const confirmed = confirm(message)
					if (!confirmed) {
						ev.preventDefault()
					}}
				}
			</script>
	
	</div>
</body>
</html>
