
<!doctype html>
<html lang="en">
<head>
	<link href="/static/style.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Suez+One&display=swap" rel="stylesheet">
	<title>{% block title %}{% endblock %}</title>
	<meta name="Description" content="Author: A Vautier, Content: A dictionary to convert maori words to english.">
</head>

<body>
	<header>
		<h1>{% block heading %}{% endblock %}</h1>
	</header>
	{%if error%}
	<h1>{{error}}</h1>
	{%endif%}

	<div class="container">

		<nav>
			{%if user%}
			 {{user[0]}}<br>
			<a href="/login">logout</a><br>
			{%else%}
			<a href="/login">login</a><br>
			{%endif%}<br>
            <a href="\">Home</a><br><br>
			{%if user[1]%}
			<a href="/edit/add/cat/0" class="add">add a category</a><br>
			{%endif%}

			{%for category in categories%}
			<a href="/cat/{{category[0]}}">{{category[1]}}</a>{%if user[1]%} - <a href="/edit/update/cat/{{category[0]}}">edit</a> <a href="/edit/delete/cat/{{category[0]}}">delete</a> {%endif%}
			<br>
			{%endfor%}
			<span></span>

		</nav>


		<!--
		=====================================================
		== Content row of the template.                 ==
		=====================================================
		-->

		<main>
            {% block main%}
			
			{% endblock main %}
        </main>


	
	</div>
	<footer>
		<p>
			&copy; AlexV 2023
		</p>
	</footer>
	<script>
				// Select all elements with the attribute 'data-deleter'
			const confirmElements = document.querySelectorAll("[data-deleter]");

			// Attach a click event listener to each element
			confirmElements.forEach((el) => el.addEventListener("click", confirmDelete(el.getAttribute("data-deleter"))));

			/**
			 * Function to confirm deletion
			 * @param {string} message - The confirmation message to display
			 * @returns {Function} - Event listener callback function
			 */
			function confirmDelete(message) {
			return function (event) {
				// Display a confirmation dialog box with the provided message
				const confirmed = confirm(message);

				// If user cancels the deletion
				if (!confirmed) {
				// Prevent the default action associated with the click event
				event.preventDefault();
				}
			};
			}
		</script>

</body>
</html>
