{% extends 'base.html' %}
{% block title %}Maōri Dictionary | Signup{% endblock %}

{% block heading %}Maōri - English Dictionary | Signup{% endblock %}

{% block pageheading %}
Sign Up
{% endblock %}

{% block main %}
<form class="myform" method="POST">
    <div class="form-label">Username:</div>
    <div class="form-element"><input type="text" name = "username" id = "username" required></div>

    <div class="form-label">Email:</div>
    <div class="form-element"><input type="email" name = "email" id = "email" required></div>

    <div class="form-label">Password:</div>
    <div class="form-element"><input type="password" name = "password" id = "password" required></div>

    <div class="form-label">Confirm Password:</div>
    <div class="form-element"><input type="password" name = "password2" id = "password2" required></div>
    <div class="form-label">Are you a teacher?</div>
    <div class="form-element"><input type="checkbox" name="is_teacher" id="is_teacher" /></div>
    
    <div class="form-label"></div>
    <div class="form-element"><input type="submit" value = "Sign Up"></div>

</form>
<p><br><br>If you already have an account, please <a href="/login">login</a></p>
{% endblock %}
