{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}
{%if user[1]%}
<a href="/edit/add/term/0" class="add">add a term</a>
{%endif%}<br>

{%if term_detailed%}
Term: {{term_detailed[1]}} 
{%if user[1]%}
<a href="/edit/update/term/{{term_detailed[0]}}">edit</a> <a href="/edit/delete/term/{{term_detailed[0]}}">delete</a><br>
{%endif%}
Definition: {{term_detailed[2]}}<br>
Category: {{term_category[0]}}<br>
Meaning: {{term_detailed[4]}}<br>
Level: {{term_detailed[5]}}<br>
{%if term_detailed[6]%}
<img src="/static/images/{{term_detailed[2]}}.{{term_detailed[6]}}">
{%else%}
<img src="/static/images/noimage.png">
{%endif%}
Last edited{%if user[1]%} by: {{editing_user[0]}} {%endif%} on {{term_detailed[7]}}
{%endif%}

{% endblock %}
